################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/StarShipSimEditor/.vs
/StarShipSimEditor/bin
/StarShipSimEditor/obj/x64/Debug/
/StarShipSimEditor/obj/x64/Debug/
/StarShipSimEditor/obj/x64/Debug
/StarShipSimEditor/obj/Debug/
/StarShipSimEditor/obj/Release/
/StarShipSimEditor/obj/publish/
