################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/StarShipSimEditor/.vs
/StarShipSimEditor/bin
/StarShipSimEditor/obj/x64/Debug/StarShipSimEditor.exe
/StarShipSimEditor/obj/x64/Debug/StarShipSimEditor.pdb
/StarShipSimEditor/obj/x64/Debug/StarShipSimEditor.csproj.GenerateResource.cache
/StarShipSimEditor/obj/Debug/net8.0-windows
/StarShipSimEditor/obj/Release/net8.0-windows
/StarShipSimEditor/obj/publish/win-x86
